<h4 class="ui center aligned medium icon header">
  <i class="circular green coffee icon"></i>
  Bla Bla
</h4>


<div class="ui two column grid container">

    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content" id="messages">
                <div class="ui medium feed" id="message-container">
                    <%= render @messages%>
                </div>
            </div>
            <div class="extra content">
                <%= form_for(@message, html: {class:"ui reply form", role:"form "}, url: message_path, remote: true) do |form|%>
                    <div class="field">
                        <div class="ui fluid icon input ">
                            <%= form.text_field :body, placeholder:"Mesajınızı Yazın..."%>
                            <%= form.button '<i class="icon bordered inverted green edit"></i>'.html_safe %>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui fluid raised card chatbox">
            <h4 class="ui header" id="users-header">
                <i class="users green icon"></i>
                <div class="content">
                    Çevrimiçi Kullanıcılar
                </div>
            </h4>
            
            <div class="ui middle aligned animated celled list">
            <% @users.each do |user|%>
                <% if user.online %>
                
                    <div class="item">
                        <i class="user green icon"></i>
                        <div class="content">
                        <div class="header"><%= user.username%></div>
                        </div>
                    </div>
                    
                <%end%>
            <%end%>
            </div>
        </div>
    </div>

</div>


