<div class="ui inverted large menu">
    <div class="ui container">
       <%=link_to "Chatroom", root_path, class:"item"%>
    <a class="item">
        Messages
    </a>
    <div class="right menu">
        <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
            <%if logged_in?%>
                <%= link_to "Çıkış Yap", logout_path, method: :delete, class:"item"%>
            <%else%>
                <%= link_to "Giriş Yap", login_path, class:"item"%>
                <%= link_to "Kayıt Ol", login_path, class:"item"%>
            <%end%>
        </div>
        </div>
        <div class="item">
            <%= link_to "Giriş Yap", login_path, class:"ui primary button"%>
        </div>
        </div>
    </div>
</div>